<nav class="site-nav">
  <ul class="nav-list">
    {% for item in site.data.nav %}
      {% if item.children %}
        <li class="nav-item has-children">
          <span class="nav-link">{{ item.title }} &#9662;</span>
          <ul class="nav-children">
            {% for child in item.children %}
              <li><a href="{{ child.url | relative_url }}" class="nav-link">{{ child.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% else %}
        <li class="nav-item">
          <a href="{{ item.url | relative_url }}" class="nav-link">{{ item.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
